header .titlebar{
  display: grid;
  grid-template-columns: 140px 1fr;
}

header img {
  padding: 30px 40px 0px 0px;
  width: 100%;
  background-color: white;
}

header h1 {
  margin-left: 20px;
  padding: 20px;
  background-color:aquamarine;
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 320px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 32px;
  }
}